<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="addressMapper">
	<select id="selectAllMajorAddress" resultType="address">
		SELECT
			major_categoryNo majorCategoryNo,
			address1 AddressName
			FROM majorcategory
	</select>
	
	
	<select id="selectMiddleAddressByMajorCategoryNo" parameterType="int" resultType="address">
		SELECT
			middle_categoryNo middleCategoryNo,
			address2 AddressName
			FROM middlecategory
			WHERE major_categoryNo = #{majorCategoryNo} order by address2 asc
	</select>
	
	<select id="selectPreferLocationByMiddleAddressNo" parameterType="int" resultType="address">
		SELECT
			middle_categoryNo middleCategoryNo,
			major_categoryNo majorCategoryNo,
			address2 AddressName
			FROM middlecategory
			WHERE middle_categoryNo = #{middleCategoryNo}
	</select>
	
		<select id="selectMajorCategoryNoByAddress" parameterType="string" resultType="int">
			SELECT
			major_categoryNo majorCategoryNo
			FROM majorcategory
			WHERE address1 = #{majorAddress}
	</select>
	
</mapper>