<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="addressMapper">
	<select id="selectAllMajorAddress" resultType="address">
		SELECT
			major_categoryNo addressId,
			address1 addressName
			FROM majorcategory
	</select>
	<select id="selectMiddleAddressByMajorAddressNo" parameterType="int" resultType="address">
		SELECT
			middle_categoryNo addressId,
			address2 addressName
			FROM middlecategory
			WHERE major_categoryNo = #{value}
	</select>
</mapper>