<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="menuMapper">
	<!-- 메뉴 추가 -->
	<insert id="insertMenu" parameterType="menu">
		INSERT INTO menu(
			menuNo,
			cafeNo,
			menuType,
			menuName,
			menuRealImage,
			menuFakeImage
		)
		VALUES(
			#{menuNo},
			#{cafeNo},
			#{menuType},
			#{menuName},
			#{menuRealImage},
			#{menuFakeImage}
		)
	</insert>
	<!-- 메뉴 수정 -->
	<update id="updateMenu" parameterType="menu">
		UPDATE menu
		SET menuType = #{menuType},
			menuName = #{menuName},
			menuRealImage = #{menuRealImage},
			menuFakeImage = #{menuFakeImage}
		WHERE menuNo = #{menuNo}
	</update>
	<!-- 메뉴 삭제 -->
	<delete id="deleteMenu" parameterType="_int">
		DELETE FROM menu
		WHERE menuNo = #{menuNo}
	</delete>
	<!-- 해당 카페의 카테고리에 따른 메뉴 목록 출력 -->
	<select id="selectMenuListByCafeNoAndMenuType" parameterType="Map" resultType="menu">
		SELECT menuNo, cafeNo, menuType, menuName, menuRealImage, menuFakeImage
		FROM menu
		WHERE cafeNo = #{cafeNo}
		AND menuType = #{menuType}
	</select>
	<!-- 해당 카페의 메뉴 목록 출력 -->
	<select id="selectMenuListByCafeNo" parameterType="int" resultType="menu">
		SELECT
			menuNo menuNo,
			menuType menuType,
			menuName menuName,
			menuRealImage menuRealImage,
			menuFakeImage menuFakeImage
		FROM menu
		WHERE cafeNo = #{cafeNumber}
	</select>
	<!-- 메뉴 선택 시 업로드된 이미지 출력 -->
	<select id="selectMenuByMenuNo" parameterType="_int" resultType="menu">
		SELECT
			menuNo menuNo,
			menuName menuName,
			menuRealImage menuRealImage,
			menuFakeImage menuFakeImage
		FROM menu
		WHERE menuNo = #{menuNo}
	</select>
	<!-- 메뉴 Sequence -->
	<select id="selectNextMenuSequence" resultType="_int">
		SELECT menu_menuNo_seq.nextval FROM dual
	</select>
</mapper>