<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="inquiryMapper">
	<sql id="select-basic">
		inquiryNo, inquiryTitle, inquiryType, inquiryContent, inquiryReply, memberId
	</sql>
	<sql id="select-basic-oneToOneInquiry">
		SELECT inquiryNo, inquiryTitle, inquiryType, inquiryContent, inquiryReply, memberId FROM onetoone_inquiry
	</sql>
	
	<select id="select-no-oneToOneInquiry" resultType="_int">
		SELECT onetoone_inquiry_inquiryNo_seq.nextval FROM dual
	</select>
	
	<insert id="insert_oneToOneInquiry" parameterType="oneToOneInquiry">
		INSERT INTO onetoone_inquiry VALUES (#{inquiryNo}, #{inquiryTitle}, #{inquiryType}, #{inquiryContent}, #{inquiryReply}, #{memberId})
	</insert>
	
	<delete id="delete_oneToOneInquiry" parameterType="_int">
		DELETE FROM onetoone_inquiry WHERE inquiryNo=#{inquiryNo}
	</delete>
	
	<update id="update_oneToOneInquiry" parameterType="oneToOneInquiry">
		UPDATE onetoone_inquiry SET inquiryTitle=#{inquiryTitle}, inquiryType= #{inquiryType}, inquiryContent=#{inquiryContent} WHERE inquiryNo=#{inquiryNo}
	</update>
	
	<update id="update_reply_oneToOneInquiry" parameterType="oneToOneInquiry">
		UPDATE onetoone_inquiry SET inquiryReply=#{inquiryReply} WHERE inquiryNo=#{inquiryNo}
	</update>
	
	<select id="select_oneToOneInquiry" parameterType="_int" resultType="oneToOneInquiry">
		<include refid="select-basic-oneToOneInquiry"/> WHERE inquiryNo=#{inquiryNo}
	</select>
	
	<select id="selectList_oneToOneInquiry" resultType="oneToOneInquiry">
		<include refid="select-basic-oneToOneInquiry"/>
	</select>
	<select id="oneToOne_list_admin" parameterType="map" resultType="OneToOneInquiry">
	SELECT inquiryNo, inquiryTitle, inquiryType, inquiryContent, inquiryReply, memberId
		FROM(SELECT CEIL(rownum/#{itemPerPage}) page, inquiryNo, inquiryTitle, inquiryType, inquiryContent, inquiryReply, memberId
			     FROM(SELECT inquiryNo, inquiryTitle, inquiryType, inquiryContent, inquiryReply, memberId
					     FROM onetoone_inquiry WHERE inquiryReply is null order by inquiryNo desc
					     )
				 )
		WHERE page = #{page}
	</select>
	<select id="count_oneToone_list_null" parameterType="string" resultType="_int">
	SELECT count(inquiryNo) FROM onetoone_inquiry WHERE inquiryReply is null
	</select>
	<select id="count_oneToone_list" parameterType="string" resultType="_int">
	SELECT count(inquiryNo) FROM onetoone_inquiry 
	</select>
	<select id="select_oneToOneInquiry2" parameterType="_int" resultType="oneToOneInquiry">
		SELECT <include refid="select-basic"/> FROM onetoone_inquiry WHERE inquiryNo=#{inquiryNo}
	</select>
	<update id="update_inquiry_reply" parameterType="oneToOneInquiry">
		UPDATE onetoone_inquiry SET inquiryReply=#{inquiryReply} WHERE inquiryNo=#{inquiryNo}
	</update>
	
	<select id="selectList_oneToOneInquiry_page" parameterType="map" resultType="oneToOneInquiry">
		SELECT inquiryNo, inquiryTitle, inquiryType, inquiryContent, inquiryReply, memberId
		FROM(SELECT CEIL(rownum/#{itemPerPage}) page, inquiryNo, inquiryTitle, inquiryType, inquiryContent, inquiryReply, memberId
			     FROM(SELECT inquiryNo, inquiryTitle, inquiryType, inquiryContent, inquiryReply, memberId
					     FROM onetoone_inquiry order by inquiryNo desc
					     )
				 )
		WHERE page = #{page}
	</select>
	
	<select id="count_oneToOneInquiry" resultType="_int">
		SELECT count(inquiryNo) from onetoone_inquiry
	</select>
	
	<select id="select_member_inquiry_list_page" parameterType="map" resultType="oneToOneInquiry">
		SELECT myInquiryNo,inquiryNo, inquiryTitle, inquiryType, inquiryContent, inquiryReply, memberId
		FROM(SELECT CEIL(rownum/#{itemPerPage}) page,ceil(rownum) myInquiryNo,inquiryNo, inquiryType, inquiryTitle, inquiryContent, inquiryReply, memberId
			     FROM(SELECT inquiryNo, inquiryTitle, inquiryType, inquiryContent, inquiryReply, memberId
					     FROM onetoone_inquiry  where memberId = #{memberId} order by inquiryNo asc
					     )order by myInquiryNo desc
				 )
		WHERE page = #{page}
	</select>
	
	<select id="countMemberInquiry" parameterType="String" resultType="int">
		select count(inquiryNo) from onetoone_inquiry where memberId=#{memberId}
	</select>
	
	<select id="countInquiry" parameterType="int" resultType="int">
		select count(inquiryNo) from onetoone_inquiry where inquiryNo=#{inquiryNo}
	</select>
</mapper>