<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="reportMapper">
	
	<sql id="report_board_column">
		reportboardNo, reportMemberId, reportReason, reportContent, reportResult, reportCancelReason, reportType, reportNO, memberId
	</sql>

	
	<select id="report_list" parameterType="map" resultType="reportBoard">
	SELECT <include refid="report_board_column"/>
		FROM(SELECT CEIL(rownum/#{itemPerPage}) page, <include refid="report_board_column"/>
			     FROM(SELECT <include refid="report_board_column"/>
					     FROM report_board WHERE reportType like '%${reportType}%' order by reportboardNo desc
					     )
				 )
		WHERE page = #{page}
	</select>
	
	<select id="count_report_list" parameterType="string" resultType="_int">
	SELECT count(reportboardNo) FROM report_board Where reporttype = #{reportType}
	</select>
	<select	id="report_list_all" parameterType="map" resultType="reportBoard">
	SELECT reportboardNo, reportMemberId, reportReason, reportContent, reportResult, reportCancelReason, reportType, reportNO, memberId
		FROM(SELECT CEIL(rownum/#{itemPerPage}) page, reportboardNo, reportMemberId, reportReason, reportContent, reportResult, reportCancelReason, reportType, reportNO, memberId
			     FROM(SELECT reportboardNo, reportMemberId, reportReason, reportContent, reportResult, reportCancelReason, reportType, reportNO, memberId
					     FROM report_board order by reportboardNo desc
					     )
				 )
		WHERE page = #{page}
	
	
	</select>
	<select id="count_report_list_all" parameterType="string" resultType="_int">
	SELECT count(reportboardNo) FROM report_board 
	</select>
	
	<select id="report_info" parameterType="_int" resultType="reportBoard">
		SELECT reportboardNo, reportMemberId, reportReason, reportContent, reportResult, reportCancelReason
				  , reportType, reportNO, memberId
		FROM report_board
		WHERE reportboardNo = #{reportboardNo}
	</select>
	
	<update id="update_info" parameterType="map">
		UPDATE report_board SET reportResult = #{reportResult}, reportCancelReason = #{reportCancelReason} 
		WHERE reportboardNo = #{reportboardNo}
	</update>
	
	<delete id="delete_article" parameterType="map">
		DELETE FROM ${reportType} WHERE ${CorR}No = #{reportNo}
	</delete>
	
	
	<select id="count_member_report_list" parameterType="string" resultType="_int">
	SELECT count(reportboardNo) FROM report_board WHERE memberId=#{memberId}
	</select>
		
	<select id="member_report_list" parameterType="map" resultType="reportBoard">
	SELECT myReportNo,<include refid="report_board_column"/>
		FROM(SELECT CEIL(rownum/#{itemPerPage}) page, myReportNo,<include refid="report_board_column"/>
			     FROM(SELECT ceil(rownum) myReportNo,<include refid="report_board_column"/>
					     FROM report_board WHERE memberId=#{memberId} order by myReportNo desc
					     )
				 )
		WHERE page = #{page}
	</select>
	
	<select id="member_report_detail" parameterType="int" resultType="reportBoard">
		select <include refid="report_board_column"/>
		from report_board
		where reportboardNo=#{reportboardNo}
	</select>
	
	<insert id="insertReport" parameterType="reportBoard">
		INSERT INTO report_board(<include refid="report_board_column"/>)
		VALUES(
			#{reportboardNo},
			#{reportMemberId},
			#{reportReason},
			#{reportContent},
			#{reportResult},
			#{reportCancelReason},
			#{reportType},
			#{reportNO},
			#{memberId}
		)
	</insert>
	
	<select id="selectNextReportBoardSequence" resultType="_int">
		SELECT report_board_reportboardNo_seq.nextval FROM dual
	</select>
 </mapper>
