<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="reviewBoardMapper">
	
	<sql id="review-column">
		reviewNo, reviewTitle, reviewDate, reviewContent, reviewGrade, reviewRealImage, reviewFakeImage, memberId, cafeNo
	</sql>

	<select id="countMyReview" parameterType="string" resultType="int">
		select count(reviewNo) from review_board where memberId=#{memberId}
	</select>
	
	<select id="myReviewListPaging" parameterType="map" resultType="reviewBoard">
		SELECT <include refid="review-column"/>
		FROM(SELECT CEIL(rownum/#{itemPerPage}) page, <include refid="review-column"/>
			     FROM(SELECT <include refid="review-column"/> FROM review_board where memberId = #{memberId} order by reviewNo asc
					     )
				 )
		WHERE page = #{page}
	</select>
	
	<select id="reviewDetail" parameterType="map" resultType="reviewBoard">
		select <include refid="review-column"/>
		from review_board
		where reviewNo = #{reviewNo} and cafeNo=#{cafeNo}
	</select>
	
	<select id="reviewReplyList" parameterType="int" resultType="reviewReply">
		select <include refid="reviewReplyMapper.reviewReply-column"/>
		from review_reply
		where reviewNo=#{reviewNo}
	</select>
	
</mapper>