<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE configuration PUBLIC "-//mybatis.org//DTD Config 3.0//EN" "http://mybatis.org/dtd/mybatis-3-config.dtd" >
<configuration>
	<settings>
		<setting name="jdbcTypeForNull" value="NULL"/>
	</settings>
	<typeAliases>
		<package name="kr.co.udongca.vo"/>
	</typeAliases>
	
	<mappers>
		<mapper resource="kr/co/udongca/common/mybatis/mapper/memberMapper.xml"/>
		<mapper resource="kr/co/udongca/common/mybatis/mapper/menuMapper.xml"/>
		<mapper resource="kr/co/udongca/common/mybatis/mapper/noticeBoardMapper.xml"/>
		<mapper resource="kr/co/udongca/common/mybatis/mapper/oneToOneInquiryMapper.xml"/>
		<mapper resource="kr/co/udongca/common/mybatis/mapper/prBoardMapper.xml"/>
		<mapper resource="kr/co/udongca/common/mybatis/mapper/reportBoardMapper.xml"/>
		<mapper resource="kr/co/udongca/common/mybatis/mapper/reviewBoardMapper.xml"/>
		<mapper resource="kr/co/udongca/common/mybatis/mapper/reviewReplyMapper.xml"/>
	</mappers>
</configuration>